<div class="containerH">
  <a href="/logout"><button class="logout">Log Out</button></a>
</div>

<div class="containerH">
  <a href={{link}}>
  {{{image}}}
  </a>
</div>

<div class="containerH">
  <p>You searched for <a class="searched" href={{link}}>{{query}}</a>{{{comment}}}</p>
</div>

<div class="containerH">
  <p>- - -</p>
</div>

<div class="containerH">  
  <a href="/search">search again</a>
</div>

<div class="containerH">
  <a href="/search/userHistory">view your history</a>
</div>

<div class="containerH">
    <p>- - -</p>
</div>

<br />

<div class="containerH">
  <a href="/logout"><button class="logoutB">Log Out</button></a>
</div>
